* {
    font-family: 'Gill Sans', sans-serif;
    color: #1E1E1E;
}

body {
    background-color: #EBEBEB;
    padding: 40px;
}

h1 {
    font-size: 70pt;
    background-color: #FFCC00;
    padding: 20px;
}

h2 {
    font-size: 38pt;
    border-bottom: 3px solid #FFCC00;
}

p {
    font-size: 18pt;
}
